@model gestorDeGastosMVC.Models.Gasto

@{
    ViewData["Title"] = "Editar Gasto";
}

<h1>Editar Gasto</h1>
<br>


<form asp-action="Editar">
    <div class="col-md-3">
        <label asp-for="PessoaId" class="control-label">Nome da Pessoa</label>
        <input asp-for="PessoaId" class="form-control">
    </div>
    <div class="col-md-3">
        <label asp-for="NomeGasto" class="control-label">Nome do Gasto</label>
        <input asp-for="NomeGasto" class="form-control">
    </div>
    <div class="col-md-3">
        <label asp-for="PrecoGasto" class="control-label">Preço do Gasto <em></em> R$</label>
        <input asp-for="PrecoGasto" class="form-control">
    </div>
    <br>
    <input type="submit" value="Editar" class="btn btn-primary" />
</form>

<div>
    <a asp-action="Index">Voltar</a>
</div>